<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.socialscore.videoplayer" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="27" />
	<application android:label="SocialScore" android:icon="@drawable/SocialScore_Logo" android:theme="@android:style/Theme.NoTitleBar"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>